<div class="container">
  <h2 class="py-4">Cars</h2>

  <table class="table">
      <div *ngFor="let car of cars; let i = index">
        <h1>{{car.profileName}}</h1>
        <h1>{{car.email}}</h1>
        <h1>{{car.gender}}</h1>
        <h1>{{car.areaOfinterest}}</h1>
        <h1>{{car.skills}}</h1>
        <h1>{{car.location}}</h1>

        <td><button type="button" class="btn btn-sm btn-outline-primary" (click)="editCar(car)">Edit</button></td>
      </div>
  </table>


  <ng-container *ngIf="car">
    <h2 class="py-4">Edit Car</h2>
    <form [formGroup]="car">
      <div class="form-group row">
        <label for="brand" class="col-sm-2 col-form-label">profileName</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="brand" formControlName="profileName">
        </div>
      </div>
      <div class="form-group row">
        <label for="model" class="col-sm-2 col-form-label">email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="model" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="model" class="col-sm-2 col-form-label">gender</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="year" formControlName="gender">
        </div>
      </div>
      <div class="form-group row">
        <label for="model" class="col-sm-2 col-form-label">areaOfinterest</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="year" formControlName="areaOfinterest">
        </div>
      </div>
      <div class="form-group row">
        <label for="model" class="col-sm-2 col-form-label">skills</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="year" formControlName="skills">
        </div>
      </div>
      <div class="form-group row">
        <label for="model" class="col-sm-2 col-form-label">location</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="year" formControlName="location">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4 offset-sm-2">
          <button type="submit" class="btn btn-primary mr-2" (click)="save()">Save</button>
          <button type="reset" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </ng-container>
</div>