<div fxLayoutAlign="center center" fxFlex="grow" style="height: 100vh;">
  Simple Fields
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="SimpleFieldsNM()">SetDB-withoutMerge</button>
    <button  mat-raised-button color="accent" (click)="SimpleFieldsMT()">SetDB-Merge</button>
    <button  mat-raised-button color="accent" (click)="SimpleFieldsMF()">SetDB-NoMerge</button>
  </div>
  Map Field
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="MapfirestoreNM()">Map-withoutMerge</button>
    <button  mat-raised-button color="accent" (click)="MapfirestoreMT()">Map-Merge</button>
    <button  mat-raised-button color="accent" (click)="MapfirestoreMF()">Map-NoMerge</button>
  </div>
  Array-Field
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="SArrayfirestoreNM()">S-Array-Union</button>
    <button  mat-raised-button color="accent" (click)="SArrayfirestoreMT()">S-Array-Remove</button>

  </div>

  Array-Map Field
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="ArrayfirestoreNM()">Array-withoutMerge</button>
    <button  mat-raised-button color="accent" (click)="ArrayfirestoreMT()">Array-Union</button>
    <button  mat-raised-button color="accent" (click)="ArrayfirestoreMF()">Array-Remove</button>
  </div>
</div>





<!--firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
             (signInFailure)="errorCallback($event)"
             (uiShown)="uiShownCallback()"></firebase-ui-->



             <!--div class="tree">
                <ul>
                  <li>
                    <a href="#">Parent</a>
                    <ul>
                      <li>
                        <a href="#">Child</a>
                        <ul>
                          <li>
                            <a href="#">Grand Child</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Child</a>
                        <ul>
                          <li><a href="#">Grand Child</a></li>
                          <li>
                            <a href="#">Grand Child</a>
                            <ul>
                              <li>
                                <a href="#">Great Grand Child</a>
                              </li>
                              <li>
                                <a href="#">Great Grand Child</a>
                              </li>
                              <li>
                                <a href="#">Great Grand Child</a>
                              </li>
                            </ul>
                          </li>
                          <li><a href="#">Grand Child</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div-->