
<div *ngIf="(OnlineCheck | async) as onlineReady; else myonlineNotReady">
    <mat-grid-list cols="10" rowHeight="10vh">
        <mat-grid-tile colspan="2" rowspan='1' [style.background]="'#444857'">
            <h1 style="color: #e91010;" [style.background]="'#444857'">
                StepsWise
                <button mat-raised-button color="primary" (click)="DemoProjectDetails()">S-Array-Union</button>

            </h1>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan='1' [style.background]="'#444857'">
            <app-create-project fxLayout="column" [privateList]="privateProjectsList" [publicList]="publicProjectsList" [profileinfoUid]="myuserProfile.userAuthenObj"></app-create-project>
        </mat-grid-tile>

            <mat-grid-tile colspan="4" rowspan='1' [style.background]="'#444857'">

            <mat-toolbar style="padding: 0px; background: #444857;">

                
                <h1 style="color: #e91010;" [style.background]="'#444857'">
                    StepsWise Tasking Tool
                </h1>


                <firebase-ui fxLayout="column" (signInSuccessWithAuthResult)="successCallback($event)"
                    (signInFailure)="errorCallback($event)" (uiShown)="uiShownCallback()"></firebase-ui>
                <button class="SignInbutton">
                    <span fxFlex="grow"></span>

                    <fa-icon (click)="logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
                    </fa-icon>
                </button>
            </mat-toolbar>
            <mat-divider></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan='9' [style.background]="'#F2F3F5'">


            <app-profile [profile]="profileRef" [profileinfoUid]="myuserProfile.userAuthenObj"></app-profile>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan='9' style="background: #F2F3F5; display: fixed;">
            <mat-tab-group>
                <mat-tab class="header" style="color:#216fdb">
                    <ng-template mat-tab-label  >Public</ng-template>
                    <ng-template matTabContent>
                        <app-public (projctsDetails)="projctDetails($event)" (firstProject)="firstProjectReceived($event)">
                        </app-public>                    
                    </ng-template>
                </mat-tab>
                <mat-tab class="header" style="color:#216fdb" *ngIf=" myuserProfile.userAuthenObj !== null" >
                    <ng-template mat-tab-label  >Private</ng-template>
                    <ng-template matTabContent>
                        <app-private-project  [profileinfoUid]="myuserProfile.userAuthenObj" (projctsDetails)="projctDetails($event)" (firstProject)="firstProjectReceived($event)">
                        </app-private-project>
                    
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
           
        </mat-grid-tile>

      

        <mat-grid-tile colspan="4" rowspan="9" [style.background]="'#F2F3F5'">
            <div class="viewtree">
               

                <app-nested-tree class="mattree" fxLayout="column" [Sections]="keyRef"
                    [latestProject]="userselectedProject">
                </app-nested-tree>
            </div>

        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="9" [style.background]="'#F2F3F5'" >

                                       
        <app-create-project fxLayout="column" [privateList]="privateProjectsList" [publicList]="publicProjectsList" [profileinfoUid]="myuserProfile.userAuthenObj"></app-create-project>


        </mat-grid-tile>


    </mat-grid-list>
</div>
<ng-template #myonlineNotReady>
    <div fxLayoutAlign="center center" style="height:100vh;">
        Lost Internet Connection!
    </div>
</ng-template>