.SignInbutton{
    font-family: inherit;
        display: inline-block;
        border: 0 !important;
        outline: 0;
        padding: 10px 20px 12px !important;
        line-height: 1.4;
        background: #444857;
        color: white !important;
        border-radius: 4px !important;
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none !important;
        font-weight: normal;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    .SignInbutton:hover {
        background-color: #FF5722;
        transition: background-color 0.5s ease-out;
      }
.create
{
    height: 30px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #273849;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color 0.2s ease;
    background-size: 20px;
    vertical-align: middle !important;
    background: #fff   8px 5px no-repeat;
}
.viewtree {
    margin:0px;
    height:100%;
    width: 100%;
    top:0px;
    background-color: rgb(242, 243, 245);
    position: relative;

  }
.mattree{
    top:10px
}



.wrapper {
    background-color: #444857;
    width: 60%;
    min-height: 100%;
    margin-left: 0px;

    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px 12px !important;


  }
  
  .head {
    border-bottom: 2px solid #ee964b;
    padding: 10px,10px;
  }
  
  h1 {
    margin: 10px;
    text-align: center;
    color: #f4d35e;
  }
  
  .head input {
    margin: 8px;
    color: #ee964b;
    padding: 8px;
    border-radius: 8px;
    width: 60%;
  }
  
  .add-task {
    border-radius: 5px;
    width: 20%;
    padding: 8px;
    color: #0d3b66;
    background-color: #f4d35e;
  }
  
  
    