<div class="SignInbutton" color="#216fdb">
    <div>Profile</div>
    <span fxFlex="primary"></span>
  </div>
<div *ngIf="profile | async as profiledetails" fxLayout="column" fxLayoutAlign="space-between center">

    <div class="person">

        <img [ngStyle]="{'background-image': 'url(' + profiledetails?.photoUrl+ ')', 'background-size': 'cover'  }">
        <h4>{{profiledetails?.profileName}}</h4>
        <h4>{{profiledetails?.email}}</h4>
        <h4>{{profiledetails?.gender}}</h4>
        <h4>{{profiledetails?.areaOfinterest}}</h4>
        <h4>{{profiledetails?.skills}}</h4>
        <h4>{{profiledetails?.location}}</h4>
    </div>
    <br>
    <mat-card style="background-color: #47cf73; position:relative;">

        <div fxLayout="row" fxLayoutGap="15%" fxLayoutAlign="space-between center">
            <div>
                <h1> analyze all the Steps of a Task </h1>
                <h1> Record all the Steps for Easy Tracking </h1>

                <div fxLayout="column" fxLayoutGap="10%">
                    <mat-chip-list>
                        <mat-chip
                            style="font-size:1.5em; cursor:none; opacity:.6; background-color:white;color: #47cf73; padding:10px;height: 60px !important;">
                            Start Tasking!!</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>

    </mat-card>


</div>